@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Manrope"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.eot") format("eot");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Manrope"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.eot") format("eot");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Manrope"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.eot") format("eot");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Manrope"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.eot") format("eot");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.anim-appearance {
  animation: anim-appearance 1.25s linear forwards;
}

.anim-left {
  animation: anim-left 0.5s ease-out forwards;
}

.anim-right {
  animation: anim-right 1s ease-in-out forwards;
}

.anim-top {
  animation: anim-top 0.5s ease-out forwards;
}

.anim-bottom {
  animation: anim-bottom 1s ease-in-out forwards;
}

@keyframes anim-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-left {
  0% {
    transform: translateX(-1750px);
    opacity: 0;
  }
  75% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anim-right {
  0% {
    transform: translateX(1750px);
    opacity: 0;
  }
  75% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anim-top {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim-bottom {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html,
body {
  font-family: "Manrope", sans-serif;
  color: #1E1B1B;
  font-weight: 600;
  line-height: 175%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  font-weight: 600;
  padding-bottom: 80px;
}

.header__body {
  font-weight: 600;
  padding-bottom: 135px;
}

.btn {
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  background: #FF6433;
  border-radius: 12px;
  white-space: nowrap;
  padding: 16px 40px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.164);
}

.title {
  font-size: 58px;
  font-weight: 800;
  line-height: 131.034%;
  letter-spacing: -1.74px;
}

.main__offer {
  padding: 128px 0;
}

.main__follow {
  padding: 134px 0;
}

.main__numbers {
  padding: 50px 0;
}

.main__brands {
  padding: 128px 0 82px;
}

.main__blog {
  padding: 135px 0;
}

.main__customers {
  padding: 130px 0;
}

.main_questions {
  padding: 130px 0;
}

.main__contact {
  padding: 120px 0 180px;
}

.main__map {
  margin-bottom: -150px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.header__top-inner .header__logo {
  margin-right: 30px;
}
.header__top-inner .header__info {
  display: flex;
  align-items: center;
}
.header__top-inner .header__info .header__nav-list {
  display: flex;
  align-items: center;
}
.header__top-inner .header__info .header__nav-list .header__nav-item {
  margin-right: 40px;
}
.header__top-inner .header__info .header__nav-list .header__nav-item:last-child {
  margin-right: 0;
}
.header__top-inner .header__info .header__nav-list .header__nav-item .header__nav-link {
  white-space: nowrap;
  transition: color 0.3s;
}
.header__top-inner .header__info .header__nav-list .header__nav-item .header__nav-link:hover {
  color: #FF6433;
}
.header__top-inner .header__info span {
  width: 1px;
  height: 42px;
  background-color: #939191;
  margin: 0 32px;
}
.header__top-inner .header__info .header__assistance-link {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.header__top-inner .header__info .header__assistance-link img {
  margin-right: 14px;
  animation: tilt-shaking 1.5s ease-out infinite alternate;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg) scale(1.05);
  }
}
.header__top-inner .header__info .header__assistance-link .header__assistance-title {
  font-weight: 500;
  line-height: 150%;
  opacity: 0.7;
  white-space: nowrap;
}
.header__top-inner .header__info .header__assistance-link .header__assistance-tel {
  font-size: 18px;
  white-space: nowrap;
}
.header__top-inner .header__info .header__assistance-link:hover {
  transform: scale(1.05);
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__body-inner .header__content {
  max-width: 625px;
  margin-right: 30px;
}
.header__body-inner .header__content .header__title {
  font-size: 64px;
  font-weight: 800;
  line-height: 131.25%;
  letter-spacing: -1.92px;
  margin-bottom: 32px;
}
.header__body-inner .header__content .header__buttons {
  display: flex;
  margin-bottom: 48px;
}
.header__body-inner .header__content .header__buttons .header__buttons-action {
  margin-right: 50px;
}
.header__body-inner .header__content .header__buttons .header__buttons-play {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.header__body-inner .header__content .header__buttons .header__buttons-play::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/icons/play-icon.svg") 0 0/100% no-repeat;
  border-radius: 50%;
  margin-right: 8px;
  transition: box-shadow 1s;
}
.header__body-inner .header__content .header__buttons .header__buttons-play:hover::before {
  box-shadow: 0 0 0px 10px rgba(255, 0, 0, 0.6039215686);
  transition: box-shadow 0.5s;
}
.header__body-inner .header__content .header__work {
  position: relative;
  padding-left: 45px;
}
.header__body-inner .header__content .header__work::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 31px;
  height: 31px;
  background: url("../images/icons/clock-icon.svg") 0 0/100% no-repeat;
}
.header__body-inner .header__content .header__work .header__work-title {
  color: #939191;
  font-weight: 500;
  line-height: 150%;
}
.header__body-inner .header__content .header__work .header__work-time {
  font-size: 18px;
  line-height: 175%;
}
.header__body-inner .header__image {
  position: relative;
  min-width: 475px;
}
.header__body-inner .header__image .header__image--oval {
  max-height: 102px;
  height: 100%;
  box-sizing: content-box;
  background-clip: padding-box;
  border: 12px solid transparent;
  border-radius: 59px;
}
.header__body-inner .header__image .header__image-desc {
  display: flex;
  align-items: center;
  position: absolute;
  top: 65px;
  left: -45px;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
  background-image: linear-gradient(139deg, #FFF -38.72%, #FFF 153.95%);
  padding: 0 40px 0 14px;
  animation: ripple 1.75s ease-in-out infinite alternate;
}
@keyframes ripple {
  100% {
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px 0px rgba(109, 108, 115, 0.12);
  }
}
.header__body-inner .header__image .header__image-desc .header__image-hours-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__body-inner .header__image .header__image-desc .header__image-hours-wrapper .header__image-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #5CBA99;
  border-radius: 50%;
  margin-right: 14.5px;
  color: #fff;
}
.header__body-inner .header__image .header__image-desc .header__image-hours-wrapper .header__image-hours span {
  font-size: 16px;
  line-height: 175%;
}
.header__body-inner .header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body-inner .header__image .header__image-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 70px;
  right: -40px;
  background-color: #fff;
  padding: 0 30px 0 40px;
  animation: ripple 1.75s ease-in-out 1.75s infinite alternate;
}
@keyframes ripple {
  100% {
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px 0px rgba(109, 108, 115, 0.12);
  }
}
.header__body-inner .header__image .header__image-rating .header__image-info {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  font-weight: 500;
  margin-right: 15px;
}
.header__body-inner .header__image .header__image-rating .header__image-info span {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
}
.header__body-inner .header__image .header__image-rate {
  padding: 0;
}

.offer {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
  background-color: #F2F2F2;
}
.offer .offer__inner .offer__heading {
  max-width: 860px;
  margin: 0 auto 65px;
}
.offer .offer__inner .offer__heading .offer__subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.offer .offer__inner .offer__heading .offer__title {
  text-align: center;
}
.offer .offer__inner .offer__list {
  display: grid;
  grid-template: repeat(2, minmax(auto, 232px))/repeat(4, 1fr);
  gap: 4px;
  margin-bottom: 32px;
}
.offer .offer__inner .offer__list .offer__list-item {
  opacity: 0;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
  transition: background-color 0.3s;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link .offer__list-text {
  margin-top: 16px;
  transition: color 0.3s;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link path {
  transition: fill 0.3s;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link:hover {
  background-color: #FF6433;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link:hover {
  color: #fff;
}
.offer .offer__inner .offer__list .offer__list-item .offer__list-link:hover path {
  fill: #fff;
}
.offer .offer__inner .offer__action {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: normal;
  float: right;
  transition: transform 0.3s;
}
.offer .offer__inner .offer__action::after {
  content: "";
  width: 53px;
  height: 16px;
  background: url("../images/icons/arrow-right-icon.svg") 0 0/100% no-repeat;
  margin-left: 16px;
  transition: transform 0.3s;
}
.offer .offer__inner .offer__action:hover {
  transform: scale(1.05);
}
.offer .offer__inner .offer__action:hover::after {
  transform: scale(1.05);
}

.follow__inner {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.follow__inner .follow__content {
  max-width: 525px;
  margin-right: 30px;
  opacity: 0;
}
.follow__inner .follow__content .follow__heading {
  margin-bottom: 15px;
}
.follow__inner .follow__content .follow__text {
  opacity: 0.6;
  margin-bottom: 32px;
}
.follow__inner .follow__steps {
  opacity: 0;
}
.follow__inner .follow__steps .follow__step {
  margin-bottom: 30px;
}
.follow__inner .follow__steps .follow__step:last-child {
  margin-bottom: 0;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper {
  max-width: 335px;
  margin-left: 96px;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
  position: relative;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--one::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -96px;
  transform: translateY(-50%);
  width: 72px;
  height: 72px;
  background: url("../images/icons/step-1-icon.svg") 0 0/100% no-repeat;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--two::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -96px;
  transform: translateY(-50%);
  width: 72px;
  height: 72px;
  background: url("../images/icons/step-2-icon.svg") 0 0/100% no-repeat;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--three::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -96px;
  transform: translateY(-50%);
  width: 72px;
  height: 72px;
  background: url("../images/icons/step-3-icon.svg") 0 0/100% no-repeat;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-text {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  position: relative;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-text--one::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 2px;
  height: 71px;
  background: url("../images/icons/line-icon.svg") 0 0/100% no-repeat;
  margin: 10px 0px;
}
.follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-text--two::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 2px;
  height: 71px;
  background: url("../images/icons/line-icon.svg") 0 0/100% no-repeat;
  margin: 10px 0px;
}

.statistic {
  background: url("../images/car-3.jpg") 50% 0/cover no-repeat;
}
.statistic .statistic__content {
  max-width: 730px;
  background-color: #FF6433;
  padding: 128px 80px;
  margin-left: 30px;
}
.statistic .statistic__content .statistic__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
  margin-bottom: 50px;
}
.statistic .statistic__content .statistic__contact-button {
  background-color: #1E1B1B;
}

.numbers {
  background-color: #F2F2F2;
}
.numbers .numbers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.numbers .numbers__list .numbers__item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
  opacity: 0.7;
  margin-right: 30px;
  opacity: 0;
  white-space: nowrap;
}
.numbers .numbers__list .numbers__item span {
  color: #661CE7;
  font-size: 58px;
  font-weight: 800;
  line-height: 131.034%;
  letter-spacing: -1.74px;
  margin-bottom: 5px;
}

.brands {
  background-color: #E2E6E9;
}
.brands .brands__title {
  text-align: center;
  margin-bottom: 33px;
}
.brands .brands__list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(5, 1fr);
  gap: 40px;
}
.brands .brands__list .brands__list-item {
  opacity: 0;
}
.brands .brands__list .brands__list-item .brands__list-link svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brands .brands__list .brands__list-item .brands__list-link svg path {
  fill: #1E1B1B;
  transition: fill 0.3s ease-in-out;
}
.brands .brands__list .brands__list-item .brands__list-link:hover path {
  fill: #FF6433;
}

.blog__inner .blog__title {
  margin-bottom: 50px;
}
.blog__inner .blog__control-inner {
  display: flex;
}
.blog__inner .blog__control-inner .blog__control-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.blog__inner .blog__control-inner .blog__control-list .blog__control-item {
  margin-right: 30px;
}
.blog__inner .blog__control-inner .blog__control-list .blog__control-item:last-child {
  margin-right: 0;
}
.blog__inner .blog__control-inner .blog__control-list .blog__control-item button {
  color: #1E1B1B;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  background: transparent;
  transition: color 0.3s ease-in-out;
}
.blog__inner .blog__control-inner .blog__control-list .blog__control-item button.mixitup-control-active {
  color: #FF6433;
}
.blog__inner .blog__control-inner .blog__control-list .blog__control-item button:not(.mixitup-control-active):hover {
  color: rgba(30, 27, 27, 0.4784313725);
}
.blog__inner .blog__control-inner .blog__control-list p {
  color: #1E1B1B;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin: 0 30px 0 45px;
}
.blog__inner .blog__posts-list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 60px 30px;
}
.blog__inner .blog__posts-list .blog__post-inner {
  transition: box-shadow 0.3s ease-in-out;
}
.blog__inner .blog__posts-list .blog__post-inner:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
}
.blog__inner .blog__posts-list .blog__post-inner:hover img {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-image {
  margin-bottom: 25px;
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s linear, box-shadow 0.3s ease-in-out;
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-content {
  padding: 0 10px 10px 10px;
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-content .blog__content-data {
  color: #939191;
  margin-bottom: 15px;
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-content .blog__content-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin-bottom: 15px;
}
.blog__inner .blog__posts-list .blog__post-inner .blog__post-content .blog__content-text {
  color: #232536;
}

.customers {
  background-color: #F2F2F2;
}
.customers .customers__inner {
  position: relative;
}
.customers .customers__inner .customers__title {
  max-width: 910px;
  text-align: center;
  margin: 0 auto 75px;
}
.customers .customers__inner .custom__slide-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-layer {
  position: relative;
}

.sp-buttons {
  padding-top: 34px;
}

.sp-buttons {
  display: flex;
  justify-content: center;
}

.sp-button {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0 5px;
}
.sp-button::before {
  content: "";
  width: 32px;
  height: 4px;
  background-color: #939191;
}
.sp-button.sp-selected-button::before {
  background-color: #FF6433;
}

.custom__slide {
  width: 100%;
  height: 100%;
  max-width: 615px;
  padding: 70px;
  background-color: #fff;
}
.custom__slide .custom__slide-title {
  display: flex;
  margin-bottom: 25px;
}
.custom__slide .custom__slide-title img {
  width: 100%;
  border-radius: 151px;
  overflow: hidden;
}
.custom__slide .custom__slide-title .custom__slide-name {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
  margin-left: 15px;
}
.custom__slide .custom__slide-title .custom__slide-name span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: normal;
  color: #939191;
}
.custom__slide .custom__slide-text {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.customers__arrows {
  position: absolute;
  bottom: -4px;
  right: 0;
  display: block;
}
.customers__arrows .customers__arrow-next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  cursor: pointer;
  transition: transform 0.3s ease-out, background-color 0.3s ease-in-out;
}
.customers__arrows .customers__arrow-next path {
  transition: fill 0.3s ease-out;
}
.customers__arrows .customers__arrow-next:hover {
  transform: scale(1.2);
  background-color: #1E1B1B;
}
.customers__arrows .customers__arrow-next:hover path {
  fill: #F2F2F2;
}
.customers__arrows .customers__arrow-prev {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  cursor: pointer;
  margin-right: 25px;
  transition: transform 0.3s ease-out, background-color 0.3s ease-in-out;
}
.customers__arrows .customers__arrow-prev path {
  transition: fill 0.3s ease-out;
}
.customers__arrows .customers__arrow-prev:hover {
  transform: scale(1.2);
  background-color: #1E1B1B;
}
.customers__arrows .customers__arrow-prev:hover path {
  fill: #F2F2F2;
}

.questions {
  background-color: #E2E6E9;
}
.questions .questions__title {
  text-align: center;
  margin-bottom: 85px;
}
.questions .questions__list {
  max-width: 900px;
  margin: 0 auto;
}
.questions .questions__list .questions__list-item {
  opacity: 0;
}
.questions .questions__list .questions__list-item .questions__list-link {
  display: block;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 10px;
}
.questions .questions__list .questions__list-item .questions__list-link .questions__list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.questions .questions__list .questions__list-item .questions__list-link .questions__list-heading .questions__list-title {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
  margin-right: 10px;
}
.questions .questions__list .questions__list-item .questions__list-link .questions__list-heading svg {
  flex: 0 0 auto;
}
.questions .questions__list .questions__list-item .questions__list-link .questions__list-heading .questions__list-title--open + svg line:last-child {
  stroke: none;
}
.questions .questions__list .questions__list-item .questions__list-link .questions__list-text {
  color: #939191;
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  padding-right: 155px;
  display: none;
}

.contact__title {
  max-width: 500px;
  margin-bottom: 50px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact__inner .contact__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 625px;
  margin-right: 30px;
  opacity: 0;
}
.contact__inner .contact__form input {
  margin-bottom: 5px;
}
.contact__inner .contact__form textarea {
  resize: none;
  margin-bottom: 50px;
}
.contact__inner .contact__form input,
.contact__inner .contact__form textarea {
  max-height: 68px;
  border-radius: 2px;
  background-color: #F2F2F2;
  padding: 25px 40px;
}
.contact__inner .contact__form input::-moz-placeholder {
  color: #1E1B1B;
  font-weight: 600;
  line-height: 175%;
}
.contact__inner .contact__form input::placeholder {
  color: #1E1B1B;
  font-weight: 600;
  line-height: 175%;
}
.contact__inner .contact__form .contact__form-button {
  align-self: start;
}
.contact__inner .contact__content {
  padding-right: 35px;
  opacity: 0;
}
.contact__inner .contact__content .contact__content-text {
  margin-bottom: 30px;
}
.contact__inner .contact__content .contact__content-text .contact__content-title {
  opacity: 0.7;
}
.contact__inner .contact__content .contact__content-text .contact__content-desc {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.map__block iframe {
  opacity: 0;
  filter: grayscale(100%);
}

.footer {
  color: #fff;
}
.footer .footer__image {
  height: 448px;
  background: url("../images/footer.jpg") 50% 0/cover no-repeat;
}
.footer .footer__top {
  background-color: #1E1B1B;
  opacity: 0.975;
  padding: 130px 0;
}
.footer .footer__top .footer__top-inner {
  display: flex;
  justify-content: space-around;
}
.footer .footer__top .footer__top-inner .footer__top-left {
  max-width: 465px;
  margin-right: 30px;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
  margin-bottom: 65px;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-list {
  display: flex;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-list .footer__top-item {
  margin-right: 25px;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-list .footer__top-item:last-child {
  margin-right: 0;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-list .footer__top-item .footer__top-link path {
  transition: fill 0.3s ease-in;
}
.footer .footer__top .footer__top-inner .footer__top-left .footer__top-list .footer__top-item .footer__top-link:hover path {
  fill: #FF6433;
}
.footer .footer__top .footer__top-inner .footer__top-right .footer__top-text {
  margin-bottom: 30px;
}
.footer .footer__top .footer__top-inner .footer__top-right .footer__top-text:last-child {
  margin-bottom: 0;
}
.footer .footer__top .footer__top-inner .footer__top-right .footer__top-text .footer__top-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 5px;
}
.footer .footer__top .footer__top-inner .footer__top-right .footer__top-text .footer__top-desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.footer__bottom {
  padding: 65px 0;
  background-color: #1E1B1B;
}
.footer__bottom .footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom .footer__bottom-inner .menu {
  display: none;
}
.footer__bottom .footer__bottom-inner .footer__nav {
  margin: 0 30px;
}
.footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list {
  display: flex;
}
.footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list .footer__nav-item {
  margin-right: 35px;
}
.footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list .footer__nav-item:last-child {
  margin-right: 0;
}
.footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list .footer__nav-item .footer__nav-link {
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
}
.footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list .footer__nav-item .footer__nav-link:hover {
  color: #FF6433;
}
.footer__bottom .footer__bottom-inner .footer__copy {
  color: #939191;
}

@media (max-width: 1200px) {
  .blog__inner .blog__control-inner {
    flex-direction: column;
  }
  .blog__inner .blog__control-inner .blog__control-list:nth-child(2) {
    margin-bottom: 45px;
  }
  .blog__inner .blog__control-inner .blog__control-list p {
    margin-left: 0;
  }
  .custom__slide {
    padding: 40px;
  }
}
@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 51;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7098039216);
    border: 1px solid #1E1B1B;
    border-radius: 25%;
    overflow: hidden;
  }
  .burger .burger-btn {
    position: relative;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    width: 22.5px;
    height: 2px;
    background-color: #1E1B1B;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  .burger .burger-btn::before {
    content: "";
    position: absolute;
    top: -8.5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #1E1B1B;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  .burger .burger-btn::after {
    content: "";
    position: absolute;
    top: 8.5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #1E1B1B;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
  }
  .burger .burger-btn.burger-btn--open {
    width: 30px;
  }
  .burger .burger-btn.burger-btn--open::before {
    width: 22.5px;
  }
  .burger .burger-btn.burger-btn--open::after {
    width: 22.5px;
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6666666667);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-out;
  }
  .overlay--open {
    opacity: 1;
    z-index: 49;
  }
  .header__top {
    min-width: 400px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: transparent;
    z-index: -1;
    padding-bottom: 0;
    transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out, z-index 0.5s ease-out;
  }
  .header__top--open {
    z-index: 50;
    opacity: 1;
    background: rgba(255, 255, 255, 0.7098039216);
  }
  .header__top-inner {
    height: 100vh;
  }
  .header__top-inner .header__info {
    flex: 1 1 auto;
    justify-content: space-around;
  }
  .header__top-inner,
  .header__nav-list,
  .header__info {
    flex-direction: column;
  }
  .header__top-inner span,
  .header__nav-list span,
  .header__info span {
    display: none;
  }
  .header__top-inner .header__logo {
    margin: 50px 0 100px 0;
  }
  .header__top-inner .header__info .header__nav-list .header__nav-item {
    margin: 0 0 15px 0;
  }
  .header__top-inner .header__info .header__nav-list .header__nav-item:last-child {
    margin: 0;
  }
  .header__body {
    padding-top: 168px;
  }
  .header__body-inner {
    justify-content: center;
  }
  .header__body-inner .header__content {
    margin-right: 0;
  }
  .header__body-inner .header__image {
    display: none;
  }
  .brands .brands__list {
    gap: 10px;
  }
  .blog__inner .blog__posts-list {
    grid-template: repeat(3, auto)/repeat(2, 1fr);
    gap: 30px 15px;
  }
  .customers .customers__inner .custom__slide-inner {
    flex-direction: column;
  }
  .contact__title {
    margin: 0 auto 60px;
    text-align: center;
  }
  .contact__inner {
    flex-direction: column;
    align-items: center;
  }
  .contact__inner .contact__form {
    width: 100%;
    margin: 0 0 30px;
  }
  .contact__inner .contact__content {
    padding-right: 0;
  }
}
@media (max-width: 900px) {
  .offer .offer__inner .offer__list {
    grid-template: repeat(4, minmax(auto, 232px))/repeat(2, 1fr);
  }
  .follow__inner {
    justify-content: center;
    grid-template-columns: none;
  }
  .follow__inner .follow__content {
    margin: 0 0 75px;
  }
  .statistic {
    background: none;
  }
  .statistic .statistic__content {
    max-width: none;
    margin: 0 -15px;
  }
  .numbers .numbers__list {
    grid-template: repeat(2, auto)/repeat(2, 1fr);
  }
  .numbers .numbers__list .numbers__item {
    align-items: center;
    margin: 0 0 30px;
  }
  .footer .footer__top {
    padding: 100px 0;
  }
  .footer .footer__top .footer__top-inner .footer__top-left {
    margin: 0 0 30px;
  }
  .footer__bottom {
    padding: 30px 0;
  }
  .footer__bottom .footer__bottom-inner .footer__nav {
    margin: 0 15px;
  }
  .footer__bottom .footer__bottom-inner .footer__nav .footer__nav-list .footer__nav-item {
    margin-right: 17.5px;
  }
  .footer .footer__top .footer__top-inner {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .statistic .statistic__content {
    padding: 60px 35px;
  }
  .brands .brands__list {
    grid-template: repeat(5, minmax(auto, 115px))/repeat(2, 1fr);
    justify-items: start;
    gap: 0;
  }
  .brands .brands__list .brands__list-item:nth-child(2n+1) {
    justify-self: end;
  }
  .blog__inner .blog__control-inner .blog__control-list:nth-child(2) {
    margin-bottom: 30px;
  }
  .blog__inner .blog__control-inner .blog__control-list .blog__control-item:nth-child(3) {
    margin-right: 10px;
  }
  .blog__inner .blog__control-inner .blog__control-list .blog__control-item {
    margin-right: 10px;
  }
  .blog__inner .blog__control-inner .blog__control-list .blog__control-item button,
  .blog__inner .blog__control-inner .blog__control-list p {
    font-size: 26px;
    margin-right: 10px;
  }
  .blog__inner .blog__posts-list .blog__post-inner .blog__post-content {
    padding: 0 5px 5px 5px;
  }
  .blog__inner .blog__posts-list .blog__post-inner .blog__post-content .blog__content-title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .blog__inner .blog__posts-list .blog__post-inner .blog__post-image {
    margin-bottom: 15px;
  }
  .blog__inner .blog__posts-list .blog__post-inner .blog__post-content .blog__content-data {
    margin-bottom: 5px;
  }
  .footer__bottom .footer__bottom-inner {
    flex-direction: column;
  }
  .footer__bottom {
    padding: 20px 0;
  }
  .footer__logo {
    margin: 0 0 15px;
  }
  .footer__bottom .footer__bottom-inner .footer__nav {
    display: none;
  }
}
@media (max-width: 550px) {
  .main__offer,
  .main__brands,
  .main__follow,
  .main__blog,
  .main__customers,
  .main_questions {
    padding: 100px 0 75px;
  }
  .main__contact {
    padding: 100px 0 125px;
  }
  .header__body-inner .header__content .header__title {
    font-size: 42px;
  }
  .offer .offer__inner .offer__heading {
    margin-bottom: 30px;
  }
  .title {
    font-size: 38px;
  }
  .offer .offer__inner .offer__list {
    grid-template: repeat(4, minmax(auto, 160px))/repeat(2, 1fr);
  }
  .offer__list-link svg {
    transform: scale(0.65);
  }
  .offer .offer__inner .offer__list .offer__list-item .offer__list-link .offer__list-text {
    font-size: 20px;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--one::before {
    content: none;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-text--one::after {
    content: none;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--two::before {
    content: none;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-text--two::after {
    content: none;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper .follow__step-title--three::before {
    content: none;
  }
  .follow__inner .follow__steps .follow__step .follow__step-wrapper {
    max-width: none;
    margin-left: 0;
  }
  .statistic .statistic__content .statistic__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .numbers .numbers__list .numbers__item {
    font-size: inherit;
  }
  .numbers .numbers__list .numbers__item span {
    font-size: 46px;
  }
  .brands .brands__title {
    margin-bottom: 20px;
  }
  .blog__inner .blog__title {
    margin-bottom: 30px;
  }
  .blog__inner .blog__posts-list {
    display: grid;
    grid-template: repeat(6, auto)/repeat(1, auto);
    gap: 30px 15px;
  }
  .customers .customers__inner .customers__title {
    margin-bottom: 30px;
  }
  .custom__slide {
    padding: 30px;
  }
  .custom__slide .custom__slide-title .custom__slide-name {
    font-size: 20px;
  }
  .custom__slide .custom__slide-text {
    font-size: 20px;
  }
  .customers__arrows {
    display: none;
  }
  .questions .questions__title {
    margin-bottom: 30px;
  }
  .questions .questions__list .questions__list-item .questions__list-link {
    padding: 20px;
  }
  .questions .questions__list .questions__list-item .questions__list-link .questions__list-heading .questions__list-title {
    font-size: 20px;
  }
  .questions .questions__list .questions__list-item .questions__list-link .questions__list-text {
    font-size: inherit;
    padding-right: 0;
  }
  .questions .questions__list .questions__list-item .questions__list-link .questions__list-heading {
    margin-bottom: 5px;
  }
  .questions .questions__list .questions__list-item .questions__list-link .questions__list-heading svg {
    flex: 0 0 40px;
  }
  .contact__title {
    margin-bottom: 30px;
  }
  .contact__inner .contact__form textarea {
    margin-bottom: 15px;
  }
  .main__map {
    margin-bottom: -100px;
  }
  .footer .footer__image {
    height: 300px;
  }
  .footer .footer__top {
    padding: 50px 0;
  }
  .footer .footer__top .footer__top-inner .footer__top-left {
    margin-bottom: 15px;
  }
  .footer .footer__top .footer__top-inner .footer__top-left .footer__top-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .footer .footer__top .footer__top-inner .footer__top-right .footer__top-text {
    margin-bottom: 15px;
  }
  .footer .footer__top .footer__top-inner .footer__top-right .footer__top-text .footer__top-title {
    font-size: inherit;
    margin-bottom: 0;
  }
  .footer .footer__top .footer__top-inner .footer__top-right .footer__top-text .footer__top-desc {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .header__body-inner .header__content .header__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__body-inner .header__content .header__buttons .header__buttons-action {
    margin: 0 0 15px 0;
  }
  .header__body-inner .header__content .header__buttons .header__buttons-play {
    margin-left: 10px;
  }
  .blog__inner .blog__control-list .blog__control-item:nth-child(3) {
    margin-right: 10px;
  }
  .contact__title {
    text-align: center;
  }
  .contact__inner .contact__form {
    margin-bottom: 45px;
  }
  .contact__inner .contact__form textarea {
    margin-bottom: 20px;
  }
  .contact__inner .contact__content {
    padding-right: 0;
  }
  .contact__inner .contact__content .contact__content-text .contact__content-desc {
    font-size: 20px;
  }
  .map__block iframe {
    max-height: 400px;
  }
}/*# sourceMappingURL=style.css.map */